.mainDiv {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    border-bottom: 20px black;
}

.vehicleImg {
    max-height: 700px;
    max-width: 1000px;
    object-fit: cover;
}

.details {
    margin-left: 70px;
    max-width: 400px;
}

.filter {
    display:flex ;
    justify-content: space-between;
}

.reviews {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
}

.searchBar {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}

.inputStyle {
    height: 25px;
    font-size: 20px;
    font-family: system-ui;
}

.register-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    /* color: #1976d2; */
}

.form-title {
    margin-bottom: 60px ;
}

.form-label {
    font-size: 25px;
    padding: 10px;
}

.inputReg {
    height: 25px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif
}

.form-button {
    margin-top: 25px;
    font-size: 25px;
}

.form-error {
    font-size: larger;
    font-weight: 700;
}

/* .login-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
} */

.inputLogIn {
    height: 25px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif
}

a {
    text-decoration: none;
}


.contact-style {
    display: flex;
    justify-content: center;
    border: 1 solid black;
}

.createModalStyle {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.createContainer {
    display: flex;
    padding: 20px;
    margin-top: 200px;
    font-size: larger;
    color: rgba(255, 255, 255, 0.747);
}

.updateContainer {
    margin-top: 200px;
    font-size: larger;
    color: rgba(255, 255, 255, 0.747);
}

.updateModalStyle {
    display: flex;
    justify-content: center;
    opacity: 0.4;
}

.reviewContainer {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
    color: black;
}

.addreview {
    font-size: 28px;
    text-align: center;
    font-weight: 10;
}


.revSection {
    align-self: center;
    margin-bottom: 110px;
    font-size: 28px;
    font-weight: 10;
}

